body{


    margin: 0;
   background-color: rgb(27, 29, 31)
}

#Game{


    padding-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

#info{

    color: azure;
    font-weight: 400;
}

#p1, #p2{

    position: relative;
    margin-left: 50vh;

}

#credits{


    color: white;
}

